DB_HOST = localhost
API_PORT = 3002
TOKEN_KEY = bRqgvCBb4X
ACCOUNT_ID = "d5d048f9-f90d-46f3-b02d-1cabf9b3c8ca"
API_VERSION = "v2.1"
BASE_URL = "https://demo.docusign.net/restapi/"
ACCESS_TOKEN_DOCY = "eyJ0eXAiOiJNVCIsImFsZyI6IlJTMjU2Iiwia2lkIjoiNjgxODVmZjEtNGU1MS00Y2U5LWFmMWMtNjg5ODEyMjAzMzE3In0.AQoAAAABAAUABwCASp9ExvPZSAgAgLJjps7z2UgCAAZQ4wndeMRLliwezTgkHg4VAAEAAAAYAAEAAAAFAAAADQAkAAAAZGNkMzVjYjctYjE1NC00ZDE4LWJjNGUtMmE2ZWVkMjRiYWY5IgAkAAAAZGNkMzVjYjctYjE1NC00ZDE4LWJjNGUtMmE2ZWVkMjRiYWY5EgABAAAABgAAAGp3dF9iciMAJAAAAGRjZDM1Y2I3LWIxNTQtNGQxOC1iYzRlLTJhNmVlZDI0YmFmOQ.EOe0thDCAPX_Pgp89NCeHzg455JkJZ0QnKmgTTxBAshumCFvSOGsdpgwKf7VaJIfXV37DG5JvohDky_vy81IFhDNlywziWQuV1BFbgDnWAdpn3aydwc1HDZ_lhHvBny4saMKr_JjGI8ZR0Yoh08IgmsgNBzijVIcV5V3Tn3SAOcXey-_ZA2birzpHwdE88qqfRDBCZmJvKh1VrJZ_XrrA3uOj1fFZnZ8ziO7LJva8ss2ljAfUcJEzobVcJB643Bz6dq6hMXXqPqUl2ufuj6ibUNj1Xi6hbby7d8s5DudOaWCHdQH8xPCCvmiPBzQ626rjHWEYV2Hu0ejMf2pbzokug"
MONIFY_BASEURL = "https://sandbox.monnify.com/api"
MONIFY_DEFAULTSPLIT = 20
MONIFY_APIKEY = "MK_TEST_FCXBB5A7G8"
MONIFY_SECRET = "KYR3W4BWLMP03SJZAXHQKX763333QG5S"
MAILGUM_APIKEY =  
MAILGUM_DOMAIN =  
adminEmail= "admin@noisystreetss.com",
